//FONTS BEGIN
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext')

=rob-th
	font-family: 'Roboto', sans-serif
	font-weight: 100
=rob-l
	font-family: 'Roboto', sans-serif
	font-weight: 300
=rob-r
	font-family: 'Roboto', sans-serif
	font-weight: 400
//FONTS END

//COLORS
$titlecolor: #1c1c1c
$textblue: #50649a
$textcolor: #2b2b2b
$gray: #c8c8c8
$blue: #435993

//OTHER STYLES BEGIN
body
	width: 100%
	max-width: 100%
	+rob-th
	font-size: 14px
	line-height: 24px
	margin: 0
*
	outline: none !important
	box-sizing: border-box

img
	max-width: 100%

a
	transition: .5s ease
	text-decoration: none
	&:hover
		transition: .5s ease
		text-decoration: none


h1
	font-size: 69px
	line-height: 60px
	margin: 0 0px 40px
	color: #000
	+rob-th
h2
	font-size: 30px
	line-height: 28px
	margin: 0 0px 40px
	color: $titlecolor
	+rob-l
.btn
	width: 100%
	max-width: 100%
	color: #363636
	text-align: center
	font-size: 13px
	padding: 0
	cursor: pointer
	&:hover
		opacity: .8
	&__blue
		background: $blue
		&:hover, &:focus, &:active
			opacity: .8
.block
	display: block

.checkbox
	height: 20px
	line-height: 20px
	padding-top: 3px
	display: block
	label
		display: inline-block
		cursor: pointer
		position: relative
		padding-left: 35px
		margin-right: 15px
		font-size: 16px
		line-height: 18px
		+rob-l
		&:before
			content: ""
			display: inline-block
			width: 18px
			height: 19px
			border: 1px solid $blue
			border-radius: 3px
			background-color: #ffffff
			margin-right: 10px
			position: absolute
			left: 0
			bottom: -1px
		&:hover
			&:before
				background-color: rgb(233, 239, 255)
	input[type=checkbox]
		display: none
	input[type=checkbox]:checked + label:before
		content: ""
		text-align: center
		line-height: 15px
		background: $blue url("../img/check.png") center center no-repeat

.container
	width: 100%
	max-width: 768px
	padding: 0 15px
	margin: 0 auto
.text-center
	text-align: center
//OTHER STYLES END

//Header styles
.header
	height: 80px
	border-bottom: 1px solid rgb(217, 217, 217)
	.navbar
		display: block
		.navbar-toggle
			display: none
			width: 40px
			height: 40px
			background: transparent
			border: 1px solid gray
			border-radius: 5px
			line-height: 10px
			padding: 8px 5px
			text-align: center
			vertical-align: top
			.icon-bar
				display: inline-block
				width: 50%
				height: 2px
				background: gray
				vertical-align: top
		.navbar-collapse
			display: block
			margin: 0
			padding: 0
		.navbar-nav
			display: block
			margin: 0
			padding: 5px 0px 0px
			font-size: 0
			text-align: center
			line-height: 80px
			li
				display: inline-block
				text-align: center
				a
					display: inline-block
					+rob-l
					font-size: 14px
					padding: 10px 37px
					line-height: 20px
					color: $textblue
					&:hover
						color: $textcolor
			.active
				a
					color: $textcolor

//Header styles end

//Main styles
.main
	&__banner
		position: relative
		display: block
		height: 180px
		min-height: 180px
		width: 100%
		background: url("../img/ian-froome-375650.jpg") 0 0 no-repeat
		background-size: cover
		z-index: 1
		.gradient
			position: absolute
			top: 50%
			right: 0
			left: 0
			bottom: 0px
			z-index: 2
			background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%) /* FF3.6-15 */
			background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) /* IE6-9 */
	&__info
		margin-top: -50px
		position: relative
		z-index: 2
		h1
			margin-bottom: 65px
		&-icon
			margin: 10px 0px 25px
		&-form
			width: 100%
			max-width: 520px
			margin: 0 auto 80px
			.form-group
				margin-bottom: 25px
				position: relative
				label
					position: absolute
					top: 0
					left: 0
					right: 0
					line-height: 60px
					font-size: 24px
					+rob-r
					color: $gray
				.form-control
					width: 100%
					height: 60px
					border: 1px solid $gray
					border-radius: 3px
					text-align: center
					padding-top: 10px
					font-size: 20px
					+rob-r
				.select__date
					display: block
					width: 100%
					max-width: 320px
					margin: 0 auto
					height: 60px
					border: 1px solid $gray
					border-radius: 3px
					text-align: center
					position: relative
					.icon
						width: 15px
						height: 10px
						display: inline-block
						background: url("../img/arrow.png") 0 0 no-repeat
						position: absolute
						top: 25px
						right: 20px
						transform: rotate(0deg)
					&-drop
						display: none
						position: absolute
						top: 100%
						left: 0
						right: 0
						height: 300px
						margin-top: 2px
						padding: 30px 0px 10px
						z-index: 9
						background: #ffffff
						border-radius: 5px
						box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2)
						ul
							padding: 0
							margin: 0
							height: 240px
							overflow: auto
							li
								display: block
								a
									display: block
									font-size: 20px
									+rob-l
									padding: 5px 0px
									color: $blue
					&.active
						.icon
							transform: rotate(180deg)

				&.active
					label
						top: 5px
						font-size: 14px
						line-height: 20px
					.form-control
						border: 1px solid $blue

	&__experience
		.checkbox
			margin: 10px 0px 15px
		&-wrap
			margin-left: -15px
			margin-right: -15px
			text-align: left
		&-block
			display: inline-block
			&:first-child
				width: 36%
			&:nth-child(2)
				width: 36%
		&-icon
			margin: 30px 0px 20px

	&__js
	&__about
//Main styles end

//Footer styles
.footer
	padding: 0
//Footer styles end

//Media styles
@media(max-width: 1200px)
@media(max-width: 992px)
@media(max-width: 767px)
	.header
		.navbar
			.navbar-toggle
				display: inline-block
			.navbar-collapse
				display: none
